ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #192A56;
}
li {
  display: inline;
  float: center;
}
a {
  display: block;
  background-color: #192A56;
}
h1 {
    text-align: center;
    font-size: 50px;
    text-emphasis: 2px;
    color: black;
}